# Tag rm-pad virtual pen as a tablet so libinput/Krita detect it
# Install: sudo cp data/70-remarkable-pen.rules /etc/udev/rules.d/ && sudo udevadm control --reload-rules
KERNEL=="event*", ATTRS{name}=="reMarkable Pen", ENV{ID_INPUT}="1", ENV{ID_INPUT_TABLET}="1"
